@model Entities.ViewModels.CoachViewModel
@{
}
<div id="coach-@Model.Id" class="player-modal-overlay">
    <div class="player-modal">

        <a href="#" class="close-modal">✕</a>

        <!-- Лява половина: снимка + клуб -->
        <div class="modal-left">
            <div class="player-image-wrapper">
                <img src= "~/img/trainee Kit.png" class="player-kit" />
            </div>
        </div>

        <!-- Дясна половина: данни -->
        <div class="modal-right">
            <h2>@Model.Name</h2>


            @if (Model.Nationality != null)
            {
                <div class="info-row"><span>Nationality: @Model.Nationality</span></div>
            }

            @if (Model.DateOfBirth != null)
            {
                <div class="info-row">
                    <span>
                        Date of birth:
                        @Model.DateOfBirth.Value.ToString("dd MMM yyyy")
                    </span>
                </div>
            }

            @if (Model.Age != null)
            {
                <div class="info-row"><span>Age: @Model.Age</span></div>
            }
        </div>

    </div>
</div>
