@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="top-filler">
    <div class="filler-text-wrap">PRIVACY POLICY</div>
    <div class="filler-effect"></div>
</div>
<h1>@ViewData["Title"]</h1>

<p>This site's privacy policy.</p>
