@{
}
<div class="welcome-screen-img">
    <div class="welcome-overlay">
        <h1>Welcome to FPL</h1>

        <div class="welcome-actions">
            @if (ViewBag.ShowLogin == true)
            {
                <a class="welcome-btn" href="/Identity/Account/Register">Register</a>
            }

            @if (ViewBag.ShowCreateTeam == true)
            {
                <a class="welcome-btn" href="/Team/Create">Create Team</a>
            }
        </div>
    </div>
</div>

