html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px 0px 100px 0px;
    background-color: #f3f4f7;  
}

.pl-navbar {
    background-color: #00cd84;
    border-bottom: 1px solid white;
    height: 60px;
    width: 100%;
}
.pl-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: #00fffdff;
}

.pl-navbar-grid {
    display: grid;
    grid-template-columns: 60px 0.5fr 3fr;
    height: 100%;
}

.pl-brand-wrap {
    background-color: rgb(55, 0, 60);
    display: flex;

    padding-top: 4px;
    justify-content: center;
    height: 100%;
    line-height: 0.8;
}

.pl-navbar .navbar-brand {
    color: white;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* Навигация */
.pl-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.main-nav, .auth-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

    /* Линковете */
    .main-nav li, .auth-nav li {
        margin-left: 1rem;
    }

.pl-navbar .nav-link {
    color: white;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: color 0.2s ease, background-color 0.2s ease;
}

    .pl-navbar .nav-link.log-regi {
        border: 2px solid white;
        border-radius: 4px;
    }

    .pl-navbar .nav-link:hover {
        color: rgb(55, 0, 60);
        background-color: #00edebb4;
        border-radius: 4px;
    }

.pl-navbar .btn-link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0.3rem 0.5rem;
    height: 100%;
    cursor: pointer;
}

    .pl-navbar .btn-link:hover {
        color: rgb(55, 0, 60);
        text-decoration: underline;
    }
small {
    font-size: 44%;
    font-weight: 200;
}


/*
HOME VIEW
*/


.top-filler {
    background-color: white;
    display: grid;
    grid-template-columns: 8fr 5fr;
    height: 100px;
}

.filler-text-wrap {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-weight: 700;
    font-size: 36px;
    display: grid;
    align-items: end;
    color: rgb(55, 0, 60);
}

.filler-effect {
    background: linear-gradient(to right, transparent, deepskyblue);
}

.filler-effect-2 {
    background: linear-gradient(to right, transparent, aqua);
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1.9fr 1fr;
/*    @*ako се развали 1 1.5 1 */ gap: 20px;
    padding: 20px;
}

.grid-div {
    background-color: white;
    border-radius: 10px;
    height: 350px;
}

.grid-div-user {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.grid-div-squad {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 770px;
}

.favorite-club-crest img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 4px;
    border: 2px solid rgb(55,0,60);
}

.no-crest {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: #666;
    border-radius: 4px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.user-name {
    font-weight: 600;
    font-size: 1.2rem;
    color: #37003C;
}

.user-points {
    font-weight: 700;
    font-size: 1.1rem;
    color: #00cd84;
}

    .user-points span {
        font-weight: 400;
        font-size: 0.8rem;
        color: #888;
        text-transform: uppercase;
    }

/* Pitch arc */
.pitch {
    position: relative;
    background: url("/img/extended pitch.png") no-repeat center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 130px 130px 130px 130px 140px;
    gap: 10px;
    /* padding: 10px; */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.bench {
    background-color: rgba(0, 0, 0, 0.45);
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 27px;
    border-radius: 0 0 10px 10px;
}

.grid-row {
    display: grid;
    gap: 10px;
    height: 130px;
}

.grid-row-GK {
    grid-template-columns: 1fr;
    justify-items: center;
}

.grid-row-Defense, .grid-row-Midfield {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.grid-row-FW {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0px 153px;
    gap: 50px;
}

.player-card {
    background-color: #37003C4D;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    transition: transform 0.2s;
    width: 80px;
    height: 125px;
    flex-shrink: 0;
}

    .player-card.dragging {
        opacity: 0.7;
        transform: scale(1.1);
        z-index: 10;
    }

    .player-card img {
        width: 70px;
        height: 100px;
        object-fit: contain;
        margin-bottom: 0px;
        user-drag: none;
        -webkit-user-drag: none;
        pointer-events: none;
    }

.player-name {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0px;
    color: white;
    border-radius: 0 0 6px 6px;
    background-color: black;
    font-weight: 500;
    width: 100%;
    padding: 2px 0;
    text-decoration: none;
}

    .player-name:hover {
        color: lightgray;
        text-decoration: none;
    }

.coach-card {
    margin: 5px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    transition: transform 0.2s;
    width: 80px;
    height: 125px;
    flex-shrink: 0;
}

    .coach-card img {
        width: 80px;
        height: 110px;
        object-fit: contain;
        margin-bottom: 0px;
        user-drag: none;
        -webkit-user-drag: none;
        pointer-events: none;
    }

.coach-name {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0px;
    color: white;
    background-color: black;
    font-weight: 500;
    width: 100%;
    padding: 2px 0;
    border-radius: 0 0 6px 6px;
}

.empty-card {
    background: url("/img/Go buy card.png") no-repeat center center;
    background-size: 100% 65%;
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    width: 80px;
    height: 119px;
    flex-shrink: 0;
    border: 3px dashed rgb(82, 81, 89);
}

.bench-select-wrapper {
    padding-left: 100px;
}

.territory-card {
    display: grid;
    grid-template-rows: 1fr auto; /* image | link */
}

.territory-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .territory-image img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }

.territory-link {
    text-align: center;
}

    .territory-link a {
        text-decoration: none;
        font-weight: 600;
        color: #37003C;
        margin-bottom: 100px;
    }

        .territory-link a:hover {
            color: #00cd84;
        }

/*
INFO PARTIAL VIEWS
*/
.player-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

    .player-modal-overlay:target {
        display: flex;
    }

.player-modal {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 500px;
    max-width: 90%;
    height: 220px;
    background-color: transparent;
    padding: 0;
    position: relative;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    border-radius: 1px;
    overflow: hidden;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 12px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    z-index: 10;
}

.modal-left {
    background-color: rgb(85, 189, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Снимка на играча */
.player-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Тук може да се добави малко лого на клуба */
.club-logo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Играч снимка */
.player-kit {
    width: 100px;
    height: auto;
}

/* Дясна половина */
.modal-right {
    background-color: rgb(100, 220, 210);
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .modal-right h2 {
        margin: 0 0 10px;
        text-align: center;
    }

.info-row {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

    .info-row span {
        font-weight: 600;
    }

.player-modal-bench {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 500px;
    max-width: 90%;
    height: 350px;
    background-color: transparent;
    padding: 0;
    position: relative;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    border-radius: 1px;
    overflow: hidden;
}

.starter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.starter-btn {
    padding: 4px 6px;
    font-size: 0.8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #37003C;
    color: white;
}

    .starter-btn:hover {
        background-color: #00cd84;
    }

.player-modal-bench {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 500px;
    max-width: 90%;
    height: 350px;
    background-color: transparent;
    padding: 0;
    position: relative;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    border-radius: 1px;
    overflow: hidden;
}

.starter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.starter-btn {
    padding: 4px 6px;
    font-size: 0.8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #37003C;
    color: white;
}

    .starter-btn:hover {
        background-color: #00cd84;
    }

.player-modal-buy {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 500px;
    max-width: 90%;
    height: 380px;
    background-color: transparent;
    padding: 0;
    position: relative;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    border-radius: 1px;
    overflow: hidden;
}
/*
MARKET VIEW
*/

