html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Основен navbar */
.pl-navbar {
    background-color: #00cd84;
    border-bottom: 1px solid white;
    height: 60px;
    width: 100%;
}
.pl-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Запълва пространството без да се изкривява */
    display: block;
    background-color: #00fffdff;
}

.pl-navbar-grid {
    display: grid;
    grid-template-columns: 60px 0.5fr 3fr;
    height: 100%;
}

.pl-brand-wrap {
    background-color: rgb(55, 0, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pl-navbar .navbar-brand {
    color: white;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* Навигация */
.pl-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.main-nav, .auth-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

    /* Линковете */
    .main-nav li, .auth-nav li {
        margin-left: 1rem;
    }

.pl-navbar .nav-link {
    color: white;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: color 0.2s ease, background-color 0.2s ease;
}

    .pl-navbar .nav-link.log-regi {
        border: 2px solid white;
        border-radius: 4px;
    }

    .pl-navbar .nav-link:hover {
        color: rgb(55, 0, 60);
        background-color: #00edebb4;
        border-radius: 4px;
    }

/* Ако имаш бутони logout като form */
.pl-navbar .btn-link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0.3rem 0.5rem;
    height: 100%;
    cursor: pointer;
}

    .pl-navbar .btn-link:hover {
        color: rgb(55, 0, 60);
        text-decoration: underline;
    }
